<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title><span th:text="#{vuelo.buscar.titulo}"></span></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

	<div class="starter-template">
        <h1><span  th:text="#{empresa}" /></h1>
        <h2>
            <span th:text="#{vuelo.buscar.titulo}"></span>
            
        </h2>
    </div>
    
	<form  th:action="@{/buscarVuelo}" th:object="${formBean}" method="post">
		<p th:each="err : ${#fields.errors('global')}" th:text="${err}" class="error" />
		
		<table border="1" style="align-self: center;">
			<tr>
	            <td><label th:text="#{vuelo.nroVuelo}" /></td>
	            <td><input type="number" th:field="*{nroVuelo}"  />
	             
	             </td>
	             	
	        </tr>
	        <tr>
	            <td><label th:text="#{vuelo.tipoVuelo}" /></td>
	            <td><input type="text" th:field="*{tipoVuelo}" /></td>
	            
	        </tr>
	       
	        
	         
	  </table>
	  <table class="botones">
	
	      <tr>
		      <td><input type="submit" name="action" value="Buscar" /></td>
		      <td><input type="submit" name="action" value="Cancelar" /></td>
		       <td><input type="submit" name="action" value="Registrar" /></td>
	      </tr>
	        
	    </table>
	    
	    
	    <table  class="resultados" border="0" style="align-self: center;">
		    <thead>
		      <tr>
		        <th ><label th:text="#{vuelo.nroVuelo}" /></th>
		        <th ><label th:text="#{vuelo.tipoVuelo}" /></th>
		         <th ><label th:text="#{vuelo.horaVuelo}" /></th>
		        <th ><label th:text="#{vuelo.fechaVuelo}" /></th>
		        <th ></th>
		        <th ></th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="v : ${resultados}">
				    <td th:text="${{v.nroVuelo}}"></td>
			        <td th:text="${{v.tipoVuelo}}"></td>
			        <td th:text="${{v.horaVuelo}}"></td>
			        <td th:text="${{v.fechaVuelo}}" ></td>
			        
			        <td>
	                    <a th:href="@{/vueloEditar/{id}(id=${v.nroVuelo})}" class="btn btn-primary">
	                        editar
	                    </a>
	                </td>
	                <td>
	                    <a th:href="@{/vueloEditar/delete/{id}(id=${v.nroVuelo})}" class="btn btn-primary">
	                        eliminar
	                    </a>
	                </td>
			        
		      </tr>
		    </tbody>
	    </table>
	</form>
</body>
</html>	